<div class="container">
    <div class="product_name">
        <div class="product_name_home">
            <a href="#">Home</a>
            <span>Bestselling Modern Furniture Designs</span>
        </div>
        <p class="wavy">
            <strong style="--i:1;">O</strong>
            <strong style="--i:2;">u</strong>
            <strong style="--i:3;">t</strong>
            <strong style="--i:4;">l</strong>
            <strong style="--i:5;">e</strong>
            <strong style="--i:6;">t</strong>
        </p>
        <div class="storeby">

            <input type="checkbox" id="check_order">
            <span><button for="check_order" onclick="match()">SORT BY BEST MATCH</button></span>
            <div class="match">
                <button>BESTSELLERS</button>
                <br>
                <button>NEW</button>
                <br>
                <button>PRICE LOW TO HIGH</button>
                <br>
                <button>PRICE HIGH TO LOW</button>
            </div>

        </div>
    </div>
    <div class="product_list row">
        <div class="col-6 col-md-4 col-xl-3 product_only ">
            <a href="~/ProductInformation/Index" class="product_a">
                <div class="card">
                    <div class="img">
                        <img src="https://res-1.cloudinary.com/dwpujv6in/image/upload/c_pad,dpr_2.0,f_auto,h_322,q_auto,w_322/v1/media/catalog/product/m/a/ma1_outlng_tb_frontlow1.jpg"
                             alt="圖片說明" class="card-img-top">
                    </div>
                    <div class="card-body">
                        <strong>
                            <p class="card-title">Mate Outdoor Lounge Chair</p>
                        </strong>
                        <p class="card-text">$999.00</p>
                        <p>Available in 3 finishes</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-6 col-md-4 col-xl-3 product_only ">
            <a href="#" class="product_a">
                <div class="card">
                    <div class="img">
                        <img src="https://res-5.cloudinary.com/dwpujv6in/image/upload/c_pad,dpr_2.0,f_auto,h_322,q_auto,w_322/v1/media/catalog/product/b/p/bp1_sconce_mu_left1_1.jpg"
                             alt="圖片說明" class="card-img-top">
                    </div>
                    <div class="card-body">
                        <strong>
                            <p class="card-title">Mate Outdoor Lounge Chair</p>
                        </strong>
                        <p class="card-text">$999.00</p>
                        <p>Available in 3 finishes</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-6 col-md-4 col-xl-3 product_only ">
            <a href="#" class="product_a">
                <div class="card">
                    <div class="img">
                        <img src="https://res-3.cloudinary.com/dwpujv6in/image/upload/c_pad,dpr_2.0,f_auto,h_322,q_auto,w_322/v1/media/catalog/product/n/e/ne1_settee_in_frontlow_1.jpg"
                             alt="圖片說明" class="card-img-top">
                    </div>
                    <div class="card-body">
                        <strong>
                            <p class="card-title">Mate Outdoor Lounge Chair</p>
                        </strong>
                        <p class="card-text">$999.00</p>
                        <p>Available in 3 finishes</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-6 col-md-4 col-xl-3 product_only ">
            <a href="#" class="product_a">
                <div class="card">
                    <div class="img">
                        <img src="https://res-4.cloudinary.com/dwpujv6in/image/upload/c_pad,dpr_2.0,f_auto,h_322,q_auto,w_322/v1/media/catalog/product/m/m/mm1_stoolx_bc_frontlowwithpad_1.jpg"
                             alt="圖片說明" class="card-img-top">
                    </div>
                    <div class="card-body">
                        <strong>
                            <p class="card-title">Mate Outdoor Lounge Chair</p>
                        </strong>
                        <p class="card-text">$999.00</p>
                        <p>Available in 3 finishes</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-6 col-md-4 col-xl-3 product_only ">
            <a href="#" class="product_a">
                <div class="card">
                    <div class="img">
                        <img src="https://res-2.cloudinary.com/dwpujv6in/image/upload/c_pad,dpr_2.0,f_auto,h_322,q_auto,w_322/v1/media/catalog/product/b/u/bu1_chndlr_ol.jpg"
                             alt="圖片說明" class="card-img-top">
                    </div>
                    <div class="card-body">
                        <strong>
                            <p class="card-title">Mate Outdoor Lounge Chair</p>
                        </strong>
                        <p class="card-text">$999.00</p>
                        <p>Available in 3 finishes</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-6 col-md-4 col-xl-3 product_only ">
            <a href="#" class="product_a">
                <div class="card">
                    <div class="img">
                        <img src="https://res-3.cloudinary.com/dwpujv6in/image/upload/c_pad,dpr_2.0,f_auto,h_322,q_auto,w_322/v1/media/catalog/product/p/x/px1_smplnt_pt_frontlow.jpg"
                             alt="圖片說明" class="card-img-top">
                    </div>
                    <div class="card-body">
                        <strong>
                            <p class="card-title">Mate Outdoor Lounge Chair</p>
                        </strong>
                        <p class="card-text">$999.00</p>
                        <p>Available in 3 finishes</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-6 col-md-4 col-xl-3 product_only ">
            <a href="#" class="product_a">
                <div class="card">
                    <div class="img">
                        <img src="https://res-1.cloudinary.com/dwpujv6in/image/upload/c_pad,dpr_2.0,f_auto,h_322,q_auto,w_322/v1/media/catalog/product/s/m/sm1_firept_fronthigh.jpg"
                             alt="圖片說明" class="card-img-top">
                    </div>
                    <div class="card-body">
                        <strong>
                            <p class="card-title">Mate Outdoor Lounge Chair</p>
                        </strong>
                        <p class="card-text">$999.00</p>
                        <p>Available in 3 finishes</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-6 col-md-4 col-xl-3 product_only ">
            <a href="#" class="product_a">
                <div class="card">
                    <div class="img">
                        <img src="https://res-4.cloudinary.com/dwpujv6in/image/upload/c_pad,dpr_2.0,f_auto,h_322,q_auto,w_322/v1/media/catalog/product/m/a/ma1_oddncr_ln_frontlow1_1.jpg"
                             alt="圖片說明" class="card-img-top">
                    </div>
                    <div class="card-body">
                        <strong>
                            <p class="card-title">Mate Outdoor Lounge Chair</p>
                        </strong>
                        <p class="card-text">$999.00</p>
                        <p>Available in 3 finishes</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-6 col-md-4 col-xl-3 product_only ">
            <a href="#" class="product_a">
                <div class="card">
                    <div class="img">
                        <img src="https://res-1.cloudinary.com/dwpujv6in/image/upload/c_pad,dpr_2.0,f_auto,h_322,q_auto,w_322/v1/media/catalog/product/m/a/ma1_outlng_tb_frontlow1.jpg"
                             alt="圖片說明" class="card-img-top">
                    </div>
                    <div class="card-body">
                        <strong>
                            <p class="card-title">Mate Outdoor Lounge Chair</p>
                        </strong>
                        <p class="card-text">$999.00</p>
                        <p>Available in 3 finishes</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-6 col-md-4 col-xl-3 product_only ">
            <a href="#" class="product_a">
                <div class="card">
                    <div class="img">
                        <img src="https://res-5.cloudinary.com/dwpujv6in/image/upload/c_pad,dpr_2.0,f_auto,h_322,q_auto,w_322/v1/media/catalog/product/b/p/bp1_sconce_mu_left1_1.jpg"
                             alt="圖片說明" class="card-img-top">
                    </div>
                    <div class="card-body">
                        <strong>
                            <p class="card-title">Mate Outdoor Lounge Chair</p>
                        </strong>
                        <p class="card-text">$999.00</p>
                        <p>Available in 3 finishes</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-6 col-md-4 col-xl-3 product_only ">
            <a href="#" class="product_a">
                <div class="card">
                    <div class="img">
                        <img src="https://res-3.cloudinary.com/dwpujv6in/image/upload/c_pad,dpr_2.0,f_auto,h_322,q_auto,w_322/v1/media/catalog/product/n/e/ne1_settee_in_frontlow_1.jpg"
                             alt="圖片說明" class="card-img-top">
                    </div>
                    <div class="card-body">
                        <strong>
                            <p class="card-title">Mate Outdoor Lounge Chair</p>
                        </strong>
                        <p class="card-text">$999.00</p>
                        <p>Available in 3 finishes</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-6 col-md-4 col-xl-3 product_only ">
            <a href="#" class="product_a">
                <div class="card">
                    <div class="img">
                        <img src="https://res-4.cloudinary.com/dwpujv6in/image/upload/c_pad,dpr_2.0,f_auto,h_322,q_auto,w_322/v1/media/catalog/product/m/m/mm1_stoolx_bc_frontlowwithpad_1.jpg"
                             alt="圖片說明" class="card-img-top">
                    </div>
                    <div class="card-body">
                        <strong>
                            <p class="card-title">Mate Outdoor Lounge Chair</p>
                        </strong>
                        <p class="card-text">$999.00</p>
                        <p>Available in 3 finishes</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-6 col-md-4 col-xl-3 product_only">
            <a href="#" class="product_a">
                <div class="card">
                    <div class="img">
                        <img src="https://res-1.cloudinary.com/dwpujv6in/image/upload/c_pad,dpr_2.0,f_auto,h_322,q_auto,w_322/v1/media/catalog/product/m/a/ma1_outlng_tb_frontlow1.jpg"
                             alt="圖片說明" class="card-img-top">
                    </div>
                    <div class="card-body">
                        <strong>
                            <p class="card-title">Mate Outdoor Lounge Chair</p>
                        </strong>
                        <p class="card-text">$999.00</p>
                        <p>Available in 3 finishes</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-6 col-md-4 col-xl-3 product_only">
            <a href="#" class="product_a">
                <div class="card">
                    <div class="img">
                        <img src="https://res-5.cloudinary.com/dwpujv6in/image/upload/c_pad,dpr_2.0,f_auto,h_322,q_auto,w_322/v1/media/catalog/product/b/p/bp1_sconce_mu_left1_1.jpg"
                             alt="圖片說明" class="card-img-top">
                    </div>
                    <div class="card-body">
                        <strong>
                            <p class="card-title">Mate Outdoor Lounge Chair</p>
                        </strong>
                        <p class="card-text">$999.00</p>
                        <p>Available in 3 finishes</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-6 col-md-4 col-xl-3 product_only">
            <a href="#" class="product_a">
                <div class="card">
                    <div class="img">
                        <img src="https://res-3.cloudinary.com/dwpujv6in/image/upload/c_pad,dpr_2.0,f_auto,h_322,q_auto,w_322/v1/media/catalog/product/n/e/ne1_settee_in_frontlow_1.jpg"
                             alt="圖片說明" class="card-img-top">
                    </div>
                    <div class="card-body">
                        <strong>
                            <p class="card-title">Mate Outdoor Lounge Chair</p>
                        </strong>
                        <p class="card-text">$999.00</p>
                        <p>Available in 3 finishes</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-6 col-md-4 col-xl-3 product_only">
            <a href="#" class="product_a">
                <div class="card">
                    <div class="img">
                        <img src="https://res-4.cloudinary.com/dwpujv6in/image/upload/c_pad,dpr_2.0,f_auto,h_322,q_auto,w_322/v1/media/catalog/product/m/m/mm1_stoolx_bc_frontlowwithpad_1.jpg"
                             alt="圖片說明" class="card-img-top">
                    </div>
                    <div class="card-body">
                        <strong>
                            <p class="card-title">Mate Outdoor Lounge Chair</p>
                        </strong>
                        <p class="card-text">$999.00</p>
                        <p>Available in 3 finishes</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-6 col-md-4 col-xl-3 product_only">
            <a href="#" class="product_a">
                <div class="card">
                    <div class="img">
                        <img src="https://res-1.cloudinary.com/dwpujv6in/image/upload/c_pad,dpr_2.0,f_auto,h_322,q_auto,w_322/v1/media/catalog/product/m/a/ma1_outlng_tb_frontlow1.jpg"
                             alt="圖片說明" class="card-img-top">
                    </div>
                    <div class="card-body">
                        <strong>
                            <p class="card-title">Mate Outdoor Lounge Chair</p>
                        </strong>
                        <p class="card-text">$999.00</p>
                        <p>Available in 3 finishes</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-6 col-md-4 col-xl-3 product_only">
            <a href="#" class="product_a">
                <div class="card">
                    <div class="img">
                        <img src="https://res-5.cloudinary.com/dwpujv6in/image/upload/c_pad,dpr_2.0,f_auto,h_322,q_auto,w_322/v1/media/catalog/product/b/p/bp1_sconce_mu_left1_1.jpg"
                             alt="圖片說明" class="card-img-top">
                    </div>
                    <div class="card-body">
                        <strong>
                            <p class="card-title">Mate Outdoor Lounge Chair</p>
                        </strong>
                        <p class="card-text">$999.00</p>
                        <p>Available in 3 finishes</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-6 col-md-4 col-xl-3 product_only">
            <a href="#" class="product_a">
                <div class="card">
                    <div class="img">
                        <img src="https://res-3.cloudinary.com/dwpujv6in/image/upload/c_pad,dpr_2.0,f_auto,h_322,q_auto,w_322/v1/media/catalog/product/n/e/ne1_settee_in_frontlow_1.jpg"
                             alt="圖片說明" class="card-img-top">
                    </div>
                    <div class="card-body">
                        <strong>
                            <p class="card-title">Mate Outdoor Lounge Chair</p>
                        </strong>
                        <p class="card-text">$999.00</p>
                        <p>Available in 3 finishes</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-6 col-md-4 col-xl-3 product_only">
            <a href="#" class="product_a">
                <div class="card">
                    <div class="img">
                        <img src="https://res-4.cloudinary.com/dwpujv6in/image/upload/c_pad,dpr_2.0,f_auto,h_322,q_auto,w_322/v1/media/catalog/product/m/m/mm1_stoolx_bc_frontlowwithpad_1.jpg"
                             alt="圖片說明" class="card-img-top">
                    </div>
                    <div class="card-body">
                        <strong>
                            <p class="card-title">Mate Outdoor Lounge Chair</p>
                        </strong>
                        <p class="card-text">$999.00</p>
                        <p>Available in 3 finishes</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-6 col-md-4 col-xl-3 product_only">
            <a href="#" class="product_a">
                <div class="card">
                    <div class="img">
                        <img src="https://res-1.cloudinary.com/dwpujv6in/image/upload/c_pad,dpr_2.0,f_auto,h_322,q_auto,w_322/v1/media/catalog/product/m/a/ma1_outlng_tb_frontlow1.jpg"
                             alt="圖片說明" class="card-img-top">
                    </div>
                    <div class="card-body">
                        <strong>
                            <p class="card-title">Mate Outdoor Lounge Chair</p>
                        </strong>
                        <p class="card-text">$999.00</p>
                        <p>Available in 3 finishes</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-6 col-md-4 col-xl-3 product_only">
            <a href="#" class="product_a">
                <div class="card">
                    <div class="img">
                        <img src="https://res-5.cloudinary.com/dwpujv6in/image/upload/c_pad,dpr_2.0,f_auto,h_322,q_auto,w_322/v1/media/catalog/product/b/p/bp1_sconce_mu_left1_1.jpg"
                             alt="圖片說明" class="card-img-top">
                    </div>
                    <div class="card-body">
                        <strong>
                            <p class="card-title">Mate Outdoor Lounge Chair</p>
                        </strong>
                        <p class="card-text">$999.00</p>
                        <p>Available in 3 finishes</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-6 col-md-4 col-xl-3 product_only">
            <a href="#" class="product_a">
                <div class="card">
                    <div class="img">
                        <img src="https://res-3.cloudinary.com/dwpujv6in/image/upload/c_pad,dpr_2.0,f_auto,h_322,q_auto,w_322/v1/media/catalog/product/n/e/ne1_settee_in_frontlow_1.jpg"
                             alt="圖片說明" class="card-img-top">
                    </div>
                    <div class="card-body">
                        <strong>
                            <p class="card-title">Mate Outdoor Lounge Chair</p>
                        </strong>
                        <p class="card-text">$999.00</p>
                        <p>Available in 3 finishes</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-6 col-md-4 col-xl-3 product_only">
            <a href="#" class="product_a">
                <div class="card">
                    <div class="img">
                        <img src="https://res-4.cloudinary.com/dwpujv6in/image/upload/c_pad,dpr_2.0,f_auto,h_322,q_auto,w_322/v1/media/catalog/product/m/m/mm1_stoolx_bc_frontlowwithpad_1.jpg"
                             alt="圖片說明" class="card-img-top">
                    </div>
                    <div class="card-body">
                        <strong>
                            <p class="card-title">Mate Outdoor Lounge Chair</p>
                        </strong>
                        <p class="card-text">$999.00</p>
                        <p>Available in 3 finishes</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-6 col-md-4 col-xl-3 product_only">
            <a href="#" class="product_a">
                <div class="card">
                    <div class="img">
                        <img src="https://res-1.cloudinary.com/dwpujv6in/image/upload/c_pad,dpr_2.0,f_auto,h_322,q_auto,w_322/v1/media/catalog/product/m/a/ma1_outlng_tb_frontlow1.jpg"
                             alt="圖片說明" class="card-img-top">
                    </div>
                    <div class="card-body">
                        <strong>
                            <p class="card-title">Mate Outdoor Lounge Chair</p>
                        </strong>
                        <p class="card-text">$999.00</p>
                        <p>Available in 3 finishes</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>

@section topCSS{
    <link href="~/Assest/css/ProductList.css" rel="stylesheet" />
    <link href="~/Content/Chart.css" rel="stylesheet" />
    <style type="text/css">
    </style>
}
@section endJS{
    <script src="~/Assest/js/ProductList.js"></script>
    <script type="text/javascript">




    </script>
}