
@model IEnumerable<MVC.ViewModels.ProductListViewModels>

<div class="container">
    <div class="product_name">
        <div class="product_name_home">
            <a href="#">Home</a>
            <span>Bestselling Modern Furniture Designs</span>
        </div>
        <p class="wavy">
            <strong style="--i:1;">S</strong>
            <strong style="--i:2;">o</strong>
            <strong style="--i:3;">f</strong>
            <strong style="--i:4;">a</strong>
            <strong style="--i:5;">s</strong>
            @*&nbsp;*@
            <br />
            <strong style="--i:6;">A</strong>
            <strong style="--i:7;">n</strong>
            <strong style="--i:8;">d</strong>
            @*&nbsp;*@
            <br />

            <strong style="--i:9;">S</strong>
            <strong style="--i:10;">l</strong>
            <strong style="--i:11;">e</strong>
            <strong style="--i:12;">e</strong>
            <strong style="--i:13;">p</strong>
            <strong style="--i:14;">e</strong>
            <strong style="--i:15;">r</strong>
        </p>
        <div class="storeby">

            <input type="checkbox" id="check_order">
            <span><button for="check_order" onclick="match()">SORT BY BEST MATCH</button></span>
            <div class="match">
                <button>BESTSELLERS</button>
                <br>
                <button>NEW</button>
                <br>
                <button>PRICE LOW TO HIGH</button>
                <br>
                <button>PRICE HIGH TO LOW</button>
            </div>

        </div>
    </div>
    <div class="product_list row">
        @foreach (var item in Model)
        {
            <div class="col-6 col-md-4 col-xl-3 product_only ">
                <a href="~/ProductInformation/Index" class="product_a">
                    <div class="card">
                        <div class="img">
                            <img src="~/Assest/img/ProductImg/@Html.DisplayFor(modelItem => item.Image)"
                                 alt="圖片說明" class="card-img-top">
                        </div>
                        <div class="card-body">
                            <strong>
                                <p class="card-title"> @Html.DisplayFor(modelItem => item.ProductName)</p>
                            </strong>
                            <p class="card-text"> $@Html.DisplayFor(modelItem => item.Price)</p>
                            <p> @Html.DisplayFor(modelItem => item.Quantity)  Left</p>
                        </div>
                    </div>
                </a>
            </div>
        }

    </div>
</div>

@section topCSS{
    <link href="~/Assest/css/ProductList.css" rel="stylesheet" />
    <link href="~/Content/Chart.css" rel="stylesheet" />
    <style type="text/css">
        .product_name .wavy{
            font-size:40px
        }
    </style>
}
@section endJS{
    <script src="~/Assest/js/ProductList.js"></script>
    <script type="text/javascript">




    </script>
}

