




<div class="head">
    <div class="head_pic">
        <a href="">
            <img src="https://res-4.cloudinary.com/dwpujv6in/image/upload/c_pad,dpr_2.0,f_auto,q_auto/v1/media/wysiwyg/home/043020_outdoor_D_may.jpg"
                 alt="">
        </a>

    </div>
    <div class="head_title">
        <h2>Vacation station.</h2>
        <button>SHOP OUTDOOR</button>
    </div>



</div>

<div class="for_slick_slider multiple-items col-12">
    <div class="items col-4">
        <img src="https://res-5.cloudinary.com/dwpujv6in/image/upload/c_pad,dpr_2.0,f_auto,h_488,q_auto,w_488/v1/media/catalog/product/c/i/ci1_lowsid_ob_frontlow-circula-low-side-table-oblivion_1.jpg">


    </div>
    <div class="items  col-4">
        <img src="https://res-5.cloudinary.com/dwpujv6in/image/upload/c_pad,dpr_2.0,f_auto,h_488,q_auto,w_488/v1/media/catalog/product/f/d/fd1_lngchr_st_frontlow-field-lounge-chair-storm-velvet_1.jpg">


    </div>
    <div class="items col-4 ">
        <img src="https://res-4.cloudinary.com/dwpujv6in/image/upload/c_pad,dpr_2.0,f_auto,h_488,q_auto,w_488/v1/media/catalog/product/s/s/ss1_smdesk_ol_frontlow-stash-desk-olive_1.jpg">


    </div>
    <div class="items  col-4">
        <img src="https://res-4.cloudinary.com/dwpujv6in/image/upload/c_pad,dpr_2.0,f_auto,h_488,q_auto,w_488/v1/media/catalog/product/c/t/ct1_deskwl_pg_3_4_cant-desk-walnut-grey_11_1.jpg">


    </div>
    <div class="items  col-4">
        <img src="https://res-4.cloudinary.com/dwpujv6in/image/upload/c_pad,dpr_2.0,f_auto,h_488,q_auto,w_488/v1/media/catalog/product/j/v/jv1_coatrk_tm_frontlow-splash-coat-rack-tomato-white-oak_1.jpg">


    </div>
    <div class="items col-4">
        <img src="https://res-5.cloudinary.com/dwpujv6in/image/upload/c_pad,dpr_2.0,f_auto,h_488,q_auto,w_488/v1/media/catalog/product/c/u/cu1_dinchr_wo-clean-cut-dining-chair-white-oak_1.jpg">


    </div>
    <div class="items col-4">
        <img src="https://res-4.cloudinary.com/dwpujv6in/image/upload/c_pad,dpr_2.0,f_auto,h_488,q_auto,w_488/v1/media/catalog/product/b/w/bw1_bkcswo_wh-browser-tall-bookcase-white-oak-white_1.jpg">


    </div>
</div>

<div class="Recently_title w-100">
    <h2>Recently Viewed Designs</h2>
</div>
<div class="Recently_text w-100">
    <p>Someone has good taste.</p>
</div>

<div class="Recently">
    <div class="row col-12 Recently_item">
        <div class="item col-12 col-md-4">
            <a href="">
                <img src="https://res-3.cloudinary.com/dwpujv6in/image/upload/c_pad,dpr_2.0,f_auto,q_auto/v1/media/wysiwyg/home/082719_tile1_CleanCut_D.jpg"
                     alt="">
                <h2 style="text-decoration:underline;">Clean Cut Dinning Chair</h2>
            </a>

        </div>
        <div class="item col-12 col-md-4">
            <a href="">
                <img src="https://res-1.cloudinary.com/dwpujv6in/image/upload/c_pad,dpr_2.0,f_auto,q_auto/v1/media/wysiwyg/home/040620_affirm_D.jpg"
                     alt="">
                <h2 style="text-decoration:underline;">Learn More</h2>
            </a>

        </div>
        <div class="item col-12 col-md-4">
            <a href="">
                <img src="https://res-2.cloudinary.com/dwpujv6in/image/upload/c_pad,dpr_2.0,f_auto,q_auto/v1/media/wysiwyg/home/082719_tile3_Clad_D.jpg"
                     alt="">
                <h2 style="text-decoration:underline;">Clad Collection</h2>
            </a>

        </div>



    </div>
</div>


<div class="NEWS_title w-100">
    <h2>Bestsellers</h2>
</div>
<div class="NEWS_text w-100">
    <p>VIEW ALL</p>
</div>

<div class="NEWS">
    <div class="row">
        <div class="item">
            <a href="">
                <div class="item_pic">

                    <img src="https://res-4.cloudinary.com/dwpujv6in/image/upload/c_pad,dpr_2.0,f_auto,q_auto/v1/media/wysiwyg/home/shoptalk_d.jpg"
                         alt="">


                </div>

            </a>
            <div class="item_txt">
                <h2>We design everything we make.</h2>
                <button>GO TO SHOP TALK</button>
            </div>


        </div>
        <div class="item_story">
            <div class="item_story_item col-6">
                <img src="https://res-4.cloudinary.com/dwpujv6in/image/upload/c_pad,dpr_2.0,f_auto,q_auto/v1/media/wysiwyg/home/082719_section2_Field.jpg"
                     alt="" class="w-100">
            </div>
            <div class="item_story_txt col-6">
                <a href="">
                    <h2>Field Lounge Chair</h2>
                    <button>READ THE DESIGH STORY</button>
                </a>

            </div>

        </div>
        <div class="item">
            <a href="">
                <div class="item_pic">

                    <img src="https://res-4.cloudinary.com/dwpujv6in/image/upload/c_pad,dpr_2.0,f_auto,q_auto/v1/media/wysiwyg/home/Desktop_Homepage_Showroom_July2018.jpg"
                         alt="">


                </div>

            </a>
            <div class="item_txt">
                <h2>Stores are temporarily closed, but we're still here for you.</h2>
                <button>GO FIND A SHOP</button>
            </div>


        </div>
        <div class="item_storys">
            <div class="item_storys_txt col-6">
                <a href="">
                    <h2 class="w-100">We're honored to win the Cooper Hewitt National Design Award.</h2>
                    <button>Read the full story</button>
                </a>

            </div>
            <div class="item_storys_item col-6">
                <img src="https://res-2.cloudinary.com/dwpujv6in/image/upload/c_pad,dpr_2.0,f_auto,q_auto/v1/media/wysiwyg/home/082719_section4_Toro.jpg"
                     alt="" class="w-100">
            </div>


        </div>

    </div>
</div>





@section topCSS{
    <link href="~/Assest/css/Carousel.css" rel="stylesheet" />
    <link href="~/Assest/css/slick.css" rel="stylesheet" />
    <link href="~/Assest/css/MvcHome.css" rel="stylesheet" />
    <link href="~/Content/Chart.css" rel="stylesheet" />
    <style type="text/css">
    </style>
}
@section endJS{
    <script src="~/Assest/js/jquery-3.4.1.min.js"></script>
    <script src="~/Assest/js/Carousel.js"></script>
    <script src="~/Scripts/Chart.js"></script>
    <script type="text/javascript">




    </script>
}
