<div class="footer">
    <div class="top-column d-flex col-md-12 ">
        <div class="column-content mx-auto">
            <div class="title">
                <h3>專題名稱</h3>
            </div>
            <div class="menu ">
                <a href="" class="">家具總覽</a>
                <a href="">About</a>
            </div>
        </div>
        <div class="column-content mx-auto ">
            <div class="title">
                <h3>客服</h3>
            </div>
            <div class="menu ">
                <a href="" class="">聯絡我們</a>
            </div>
        </div>
        <div class="column-content mx-auto">
            <div class="title">
                <h3>會員</h3>
            </div>
            <div class="menu ">
                <a href="" class="">加入會員</a>
                <a href="">會員主頁</a>
                <a href="">加入會員</a>
                <a href="">加入會員</a>
            </div>
        </div>
        <div class="column-content mx-auto">
            <div class="title">
                <h3>社群</h3>
            </div>
            <div class="Soci al">
                <div class= class="" "icon-list">
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-line"></i>
                    <i class="fab fa-facebook-f"></i>
                    <i class="fab fa-instagram"></i>
                </div>
            </div>
        </div>
    </div>
</div>