<div class="footer">
    <div class="top-column d-flex col-md-12 row">
        <div class="col-12 col-md-4 column-content ">
            <div class="title">
                <h3>Stay Comfortable</h3>
            </div>
            <div class="menu">
                <li><a href="">Product overview</a></li>
                <li><a href="">About</a></li>
            </div>
        </div>
        <div class="col-12 col-md-4 column-content ">
            <div class="title">
                <h3>Account</h3>
            </div>
            <div class="menu ">
                <li><a href="" class="">JOIN US</a></li>
                <li><a href="">MAIN</a></li>
                <li><a href="">FORGOT</a></li>
            </div>
        </div>
        <div class="col-12 col-md-4 column-content ">
            <div class="title">
                <h3>Customer Service</h3>
            </div>
            <div class="menu ">
                <li><a href="" class="">Connect</a></li>
            </div>
        </div>
    </div>
    <div class="col-12 column-content mx-auto Social">
        <ul class="icon-list d-flex">
            <li class="col-3 col-md-3">
                <i class=" fab fa-twitter">
                    <p>Twitter</p>
                </i>
            </li>
            <li class="col-3 col-md-3">
                <i class=" fab fa-line">
                    <p>Line</p>
                </i>
            </li>
            <li class="col-3 col-md-3">
                <i class=" fab fa-facebook-f">
                    <p>Facebook</p>
                </i>
            </li>
            <li class="col-3 col-md-3">
                <i class=" fab fa-instagram">
                    <p>Instagram</p>
                </i>
            </li>
        </ul>
    </div>
</div>