
<div class="SIGN">
    <a href="~/Account/Login">SIGN IN</a>
   
</div>
<nav class="navbar navbar-expand-lg navbar-light bg-light ">
    <a class="navbar-brand" href="~/MvcHome/Index">
        <img src="https://www.bludot.com/static/version1587564758/frontend/Lyonscg/bludot/en_US/images/logo.svg"
             alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
  
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto  ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="~/ProductList/Index">New <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="~/Bestsellers/Index">Bestsellers<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="~/LivingIntroduction/Index">Living<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="~/BedroomIntroduction/Index">Bedroom<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="~/DiningIntroduction/Index">Dinning<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="~/OfficeIntroduction/Index">Office<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="~/Lighting/Index">Lighting<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="~/Outdoor/Index">Outdoor<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="~/KidsIntroduction/Index">Kids<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="~/AccessoriesIntroduction/Index">Accessories<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="~/Outlet/Index">Outlet<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="~/AboutUs/Index">About us<span class="sr-only">(current)</span></a>
            </li>


        </ul>

        <a href="" class="search"><i class="fas fa-search"></i></a>

       
        <input type="checkbox" id="check">


        <button id="btn" for="check" onclick="shop()">
            <i class="fas fa-shopping-cart"></i>
        </button>
        <div class="transparent">

        </div>
        <div class="shop" id="shop">
            <button id="close" type="button" class="close" aria-label="Close" onclick="shop()">
                <span aria-hidden="true">&times;</span>
            </button>
            <h3>購物車</h3>
            <p>椅子*1 $100</p>
            <hr>
            <p>總價:$100</p>

        </div>


    </div>
</nav>

<div class="announcement">
    <p>WE ARE SHIPPING TO YOU WITH CONTACTLESS DELIVERY.<a href=""> LEARN MORE ></a></p>
    

</div>

