@using MVC.Models
<nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
    <a class="navbar-brand col-1" href="~/Home/Index">
        <img src="~/Assest/img/下載.png" alt="">
    </a>


    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>


    <div class="col-11 collapse navbar-collapse " id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto  ml-auto col-9">
            <li class="nav-item active">
                <a class="nav-link" href="~/ProductList/Index">New <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="~/Bestsellers/Index">Bestsellers<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="~/LivingIntroduction/Index">
                    Living<span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="~/BedroomIntroduction/Index">
                    Bedroom<span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="~/DiningIntroduction/Index">
                    Dinning<span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="~/OfficeIntroduction/Index">
                    Office<span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="~/Lighting/Index">Lighting<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="~/Outdoor/Index">Outdoor<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="~/KidsIntroduction/Index">Kids<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="~/AccessoriesIntroduction/Index">
                    Accessories<span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="~/Outlet/Index">Outlet<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="~/AboutUs/Index">About<span class="sr-only">(current)</span></a>
            </li>
        </ul>
        <div class="nav_icon ">
            <a href="" data-toggle="modal" data-target="#staticBackdrop"><i class="fas fa-user"></i></a>
            <a href="" class="search"><i class="fas fa-search"></i></a>
            <button id="btn" for="check" onclick="shop()">
                <i class="fas fa-shopping-cart"></i>
            </button>
            <input type="checkbox" id="check">



            <div class="transparent">

            </div>
            <div class="shop" id="shop">

                <button id="close" type="button" class="close" aria-label="Close" onclick="shop()">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3>購物車</h3>
                <p>椅子*1 $100</p>
                <hr>
                <p>總價:$100</p>

            </div>


        </div>


    </div>

    </div>
</nav>

<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <img src="~/Assest/img/下載.png" alt="">
                <div class="account">
                    <input class="mx-auto" type="text" placeholder="請輸入電子信箱">
                    <input type="password" class="mx-auto" placeholder="請輸入8-14碼密碼">
                    <input class="mx-auto" type="tel" placeholder="請輸入電話號碼">
                </div>
                <div class="name">
                    <input class="mx-auto" type="text" placeholder="姓氏">
                    <input class="mx-auto" type="text" placeholder="名">
                </div>
                <div class="date">
                    <input class="mx-auto" type="date" placeholder="請選擇生日日期">
                </div>


                <button class=" login">註冊</button>
                <div class="linear">
                    <span style="white-space:pre"></span><span class="line"></span>
                    <span style="white-space:pre"></span><span class="txt">或</span>
                    <span style="white-space:pre"></span> <span class="line"></span>
                </div>
                <div class="other">
                    @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
                    @*<i class="fab fa-facebook col-4"></i>
                        <i class="col-4 fab fa-google-plus"></i>*@
                </div>
                <div class="sign_up">
                    <p>沒有帳號嗎?<a href="">註冊</a></p>
                </div>
            </div>

        </div>
    </div>
</div>