<div class="content">
    <div class="category_image ">

        <div class="category_img w-100">
            <img src="https://res-5.cloudinary.com/dwpujv6in/image/upload/c_pad,dpr_2.0,f_auto,q_auto/v1/media/catalog/tmp/category/WebM2_CategoryLandingPages_Marquees_Bedroom_Nov18.jpg"
                 alt="" class="image w-100 ">
        </div>
        <div class="category_content">
            <h4 class="text-center">New Bedroom Designs</h4>
            <a href="#">
                <img src="https://res-4.cloudinary.com/dwpujv6in/image/upload/c_pad,dpr_2.0,f_auto,q_auto/v1/media/wysiwyg/clp/WebM2_CategoryLandingPages_Sections_MeTime.jpg"
                     alt="" class="image w-100">
                <h6>ME TIME LEATHER BED</h6>
            </a>
            <a href="#">
                <img src="https://res-2.cloudinary.com/dwpujv6in/image/upload/c_pad,dpr_2.0,f_auto,q_auto/v1/media/wysiwyg/clp/CategoryLandingPage_040119_Bedding_Bedroom.jpg"
                     alt="" class="image w-100">
                <h6>BEDDING</h6>
            </a>
            <a href="#">
                <img src="https://res-3.cloudinary.com/dwpujv6in/image/upload/c_pad,dpr_2.0,f_auto,q_auto/v1/media/wysiwyg/clp/WebM2_CategoryLandingPages_Sections_Hunker_1.jpg"
                     alt="" class="image w-100">
                <h6>HUNKER</h6>
                <p>AVAILABLE IN KING AND QUEEN</p>
            </a>
        </div>

    </div>
    <div class="category_menu ">
        <div class="category_menu_content">
            <div class="home_link">
                <a href="#">Home</a>
                <span>| Modern Bedroom Furniture</span>
            </div>
            <h1>Bedroom</h1>
            <ul>
                <li><a href="#" class="category_name"><span>Beds</span></a></li>
                <li><a href="#" class="category_name"><span>Dressers + Nightstands</span></a></li>
                <li><a href="#" class="category_name"><span>Dressers</span></a></li>
                <li><a href="#" class="category_name"><span>Accessories</span></a></li>
                <li><a href="#" class="category_name"><span>Nightstands + Bedside Tables</span></a></li>
                <li><a href="#" class="category_name"><span>Pillows</span></a></li>
                <li><a href="#" class="category_name"><span>Mattresses</span></a></li>
                <li><a href="#" class="category_name"><span>Bedding</span></a></li>
                <li><a href="#" class="category_name"><span>View All Bedroom</span></a></li>
            </ul>
        </div>
    </div>
</div>

@section topCSS{

    <link href="~/Assest/css/Introduction.css" rel="stylesheet" />
    <style type="text/css">
    </style>
}
