<div class="container">
    <div class="title">
        <h1>About us</h1>
    </div>
    <div class="line"></div>
    <div class="col-12 row">
        <div class="col-12 col-md-4 person">
            <div class="phone">
                <img src="https://picsum.photos/150/150/?random=1">
            </div>
            <div class="name m-auto">
                <h2>嗨</h2>
            </div>
            <div class="information">
                <p>email</p>
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sed consequatur iure numquam magnam
                    minus molestiae eius nulla quae. Libero, velit blanditiis rem quibusdam minima cum quia?
                    Molestiae nisi maiores rerum?
                </p>
            </div>
        </div>
        <div class="col-12 col-md-4 person">
            <div class="phone">
                <img src="https://picsum.photos/150/150/?random=1">
            </div>
            <div class="name m-auto">
                <h2>嗨</h2>
            </div>
            <div class="information">
                <p>email</p>
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sed consequatur iure numquam magnam
                    minus molestiae eius nulla quae. Libero, velit blanditiis rem quibusdam minima cum quia?
                    Molestiae nisi maiores rerum?
                </p>
            </div>
        </div>
        <div class="col-12 col-md-4 person">
            <div class="phone">
                <img src="https://picsum.photos/150/150/?random=1">
            </div>
            <div class="name m-auto">
                <h2>嗨</h2>
            </div>
            <div class="information">
                <p>email</p>
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sed consequatur iure numquam magnam
                    minus molestiae eius nulla quae. Libero, velit blanditiis rem quibusdam minima cum quia?
                    Molestiae nisi maiores rerum?
                </p>
            </div>
        </div>
        <div class="col-12 col-md-4 person">
            <div class="phone">
                <img src="https://picsum.photos/150/150/?random=1">
            </div>
            <div class="name m-auto">
                <h2>嗨</h2>
            </div>
            <div class="information">
                <p>email</p>
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sed consequatur iure numquam magnam
                    minus molestiae eius nulla quae. Libero, velit blanditiis rem quibusdam minima cum quia?
                    Molestiae nisi maiores rerum?
                </p>
            </div>
        </div>
        <div class="col-12 col-md-4 person">
            <div class="phone">
                <img src="https://picsum.photos/150/150/?random=1">
            </div>
            <div class="name m-auto">
                <h2>嗨</h2>
            </div>
            <div class="information">
                <p>email</p>
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sed consequatur iure numquam magnam
                    minus molestiae eius nulla quae. Libero, velit blanditiis rem quibusdam minima cum quia?
                    Molestiae nisi maiores rerum?
                </p>
            </div>
        </div>
        <div class="col-12 col-md-4 person">
            <div class="phone">
                <img src="https://picsum.photos/150/150/?random=1">
            </div>
            <div class="name m-auto">
                <h2>嗨</h2>
            </div>
            <div class="information">
                <p>email</p>
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sed consequatur iure numquam magnam
                    minus molestiae eius nulla quae. Libero, velit blanditiis rem quibusdam minima cum quia?
                    Molestiae nisi maiores rerum?
                </p>
            </div>
        </div>
    </div>
</div>
@section topCSS{

    <link href="~/Assest/css/AboutUs.css" rel="stylesheet" />
    <link href="~/Content/Chart.css" rel="stylesheet" />
    <style type="text/css">
    </style>
}
@section endJS{
    <script src="~/Scripts/Chart.js"></script>
    <script type="text/javascript">




    </script>
}
